/* PARALLAX SCROLLING EXPERIMENT
   Master Styles
   Author: Jonathan Nicol (f6design.com)
*****************************************************************/


/* Global reset
   http://meyerweb.com/eric/tools/css/reset/ 
*****************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Extended base styles (site specific)
*****************************************************************/

html { 
	overflow-y: scroll; /* always force a scrollbar in non-IE */
	}
body {
	background: #e3e5e5;
	overflow-x: hidden;
	height: 4550px;
	line-height: 1.5;
	color: #000;
	font-size: 14px;
	font-family: Arial,sans-serif;
}
h1 {
	color: #21a97e;
}
a, a:link,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	color:#21a97e;
	outline: none;
	text-decoration:none;
	}
	a:hover { 
		color:#000;
		}
img { 
	display:block;
	}
p {
	margin:1em 0;
	}

/* Common shared styles
*****************************************************************/

hr {
	margin: 0;
	border: none;
	border-top: 1px solid #3b3b3b;
	border-bottom: 1px solid #3b3b3b;
	height: 3px;
}

/* Page structure
*****************************************************************/

#wrapper {
	position: relative;
}
#branding {
	width: 100%;
	background: #fff;
	}
	#branding h1 {
		width: 940px;
		padding: 10px 15px;
		margin: 0 auto;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
		}

/* Nav
*****************************************************************/

nav#primary {
	z-index: 5;
	position: absolute;
	
	right: 16px;
	
}
nav#primary li {
	position: relative;
	height: 20px;
}
nav#primary a {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	background: transparent url('../img/nav-dot.png') 4px 4px no-repeat;
}
nav#primary a:hover, nav#primary a.active {
	background: transparent url('../img/nav-dot.png') 4px -16px no-repeat;
}
nav#primary h1 {
	position: absolute;
	right: 22px;
	top: -7px;
	display: none;
	padding: 4px 20px 4px 7px;;
	color: #fff;
	white-space: nowrap;
	background: transparent url('../img/nav-arrow.png') 100% 50% no-repeat;
	}
nav.next-prev {
	margin: 20px 0 0 0;
	}
	a.prev,
	a.next {
		display: block;
		width: 15px;
		height: 11px;
		text-indent: -9999px;
		}
	a.prev {
		margin: 0 auto 5px auto;
		background: transparent url('../img/scroll-arrow-up.png') 0 0 no-repeat;
		}
		a.prev:hover {
			background: transparent url('../img/scroll-arrow-up.png') 0 -11px no-repeat;
			}
	a.next {
		margin: 5px auto 0 auto;
		background: transparent url('../img/scroll-arrow-down.png') -1px 0 no-repeat;
		}
		a.next:hover {
			background: transparent url('../img/scroll-arrow-down.png') -1px -11px no-repeat;
			}

/* Parallax
*****************************************************************/

/* content */
#content {
	z-index: 4;
	position: relative;
	max-width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 1.7;
	}
	#content article {
		width: 300px;
		}
		#manned-flight ,
		#frameless-parachute,
		#english-channel,
		#about {
			padding-top: 105px;
			}
		#manned-flight {
			position: absolute;
			top: 0px;
			}
		#frameless-parachute {
			position: absolute;
			top: 1090px;
			}
		#english-channel {
			position: absolute;
			top: 2180px;
			}
			#content h1 {
				margin: 0 0 25px 0;
				font-size: 60px;
				font-family: Georgia, serif;
				font-weight: normal;
				line-height: 65px;
				}
		#about {
			position: absolute;
			top: 3270px;
			}
/* foreground (ballons/landscape) */
#parallax-bg3 {
	z-index: 3;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 940px;
	margin-left: -470px; /* move left by half element's width */
	}
	/* balloon */
	#bg3-1 {
		position: absolute;
		top: -111px;
		left: 355px;
		}
	#bg3-2 {
		position: absolute;
		top: 812px;
		left: 321px;
		}
	#bg3-3 {
		position: absolute;
		top: 1628px;
		left: 403px;
		}
	#bg3-4 {
		position: absolute;
		top: 2700px;
		left: -85px;
		}
/* midground (clouds) */
#parallax-bg2 {
	z-index: 2;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg2-1 {
		position: absolute;
		top: 162px;
		left: 200px;
		}
	#bg2-2 {
		position: absolute;
		top: 300px;
		left: 1150px;
		}
	#bg2-3 {
		position: absolute;
		top: 543px;
		left: -35px;
		}
	#bg2-4 {
		position: absolute;
		top: 1180px;
		left: 250px;
		}
	#bg2-5 {
		position: absolute;
		top: 900px;
		left: 890px;
		}
/* background (clouds) */
#parallax-bg1 {
	z-index: 1;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg1-1 {
		position: absolute;
		top: 85px;
		left: -270px;
		}
	#bg1-2 {
		position: absolute;
		top: 440px;
		left: 795px;
		}
	#bg1-3 {
		position: absolute;
		top: 900px;
		left: -220px;
		}
	#bg1-4 {
		position: absolute;
		top: 1020px;
		left: 450px;
		}

.slide--1, .slide--2, .slide--3, .slide--4{
    position: absolute;
    opacity: 0.8;
}
.slide--1 .moving-text, .slide--2 .moving-text, .slide--3 .moving-text, .slide--4 .moving-text{
    display: none;
}

.slide--1 .slide__title, .slide--2 .slide__title {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 36px;
    line-height: 2.25rem;
    text-align: left;
}
@media (max-width: 768px) and (orientation: portrait) {
    .slide--1 .slide__title, .slide--2 .slide__title {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28.8px;
        line-height: 1.8rem;
    }
}
@media (max-width: 414px) and (orientation: portrait) {
    .slide--1 .slide__title, .slide--2 .slide__title {
        font-size: 16px;
        font-size: 1rem;
        line-height: 19.2px;
        line-height: 1.2rem;
    }
}

.viewing-slide-1.going-down .slide--1 {
    -webkit-animation: pull-in-slide-8 500ms;
    animation: pull-in-slide-1 500ms;
}
.viewing-slide-1.going-up .slide--1 {
    -webkit-animation: pull-in-slide-8 500ms;
    animation: pull-in-slide-1 500ms;
}
.viewing-slide-2.going-down .slide--1 {
    -webkit-animation: push-out-slide-8 500ms;
    animation: push-out-slide-1 500ms;
}
body.viewing-slide-10.going-down .cip__cloud-divider {
    -webkit-animation: slide-right-to-right 500ms;
    animation: slide-right-to-right 500ms;
}

.slide--1{
    background-color: #3BB0C9;
}
.slide--1.active, .slide--2.active, .slide--3.active{
    opacity: 1;
    z-index: 10;
}

.slide--1.active, .slide--2.active, .slide--3.active{
    opacity: 1;
    z-index: 10;
}

.slide--1.active .moving-text{

    -webkit-animation: pull-in-slide-1 500ms;
    animation: pull-in-slide-1 500ms;
 
 }

.slide--1 #users-circle{
    fill: #C8C8C8;
}
.slide--1 #users{
    fill: #36A1B7;
}

.slide--1.active .moving-svg{
     transition: 1s ease-in-out;
  -webkit-transform: scale(2) translate(3.3em,5.3em);
    -moz-transform:scale(2) translate(3.3em,5.3em);
    -o-transform: scale(2) translate(3.3em,5.3em);
    -ms-transform:scale(2) translate(3.3em,5.3em);
    transform: scale(2) translate(3.3em,5.3em);
 
 }

.slide--2.active .moving-text{
    display: block;
    -webkit-animation: pull-in-slide-2 500ms;
    animation: pull-in-slide-2 500ms;
 
 }

.slide--2.deactive #devices-circle{
    fill: #C8C8C8;
}
.slide--2 #devices-circle{
    fill: #3BB0C9;
}

/* animation */
@-webkit-keyframes make-big {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 100%);
        transform: translate3d(0, 0, 100%);
    }
}

@keyframes make-big {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 200%);
        transform: translate3d(0, 0, 200%);
    }
}


@-webkit-keyframes pull-in-slide-1 {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes pull-in-slide-1 {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes push-out-slide-1 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes push-out-slide-1 {
    
    0% {
     -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@-webkit-keyframes pull-in-slide-2 {
    0% {
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes pull-in-slide-2 {
    0% {
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes push-out-slide-2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}
@keyframes push-out-slide-2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@-webkit-keyframes slide-right-to-right {
    0% {
        left: 50%;
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        left: 183%;
        opacity: 0;
    }
}
@keyframes slide-right-to-right {
    0% {
        left: 50%;
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        left: 183%;
        opacity: 0;
    }
}

                    .before, .parallax-content {
                        height: 300px;
                    }
                    .parallax-main{
                        border: solid 1px black;


                    }
                    #test{
                        position: fixed;
                        top:0;
                    }
                    #test2{
                        position: fixed;
                        top:0;
                        left:200px; 
                    }
                    .svg-content{
                         -ms-transform: scale(0.7, 0.7); /* IE 9 */
                         -webkit-transform: scale(0.7,0.7); /* Safari */
                        transform: scale(0.7, 0.7);
                        width: 500px;
                        height: 500px;
                        position: absolute;
                    }
                    .static-content{
                          position: relative;
                            left: 360px;
                            top: 150px;
                     }
                    .svg-content.big-circle{
                         transform: scale(1.6, 1.6);
                    }
                    .svg-user{

                        left: 300px;     
                    }                   
                    .svg-devices{

                       left: 200px;
                        top: 150px;   
                    }  

                      .svg-apps{

                       left: 400px;
                        top: 150px;   
                    }  