<!doctype html>
<html ng-app="myApp">
<head>
    <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
</head>
<body>
<div data-ng-controller="Controller" >
    I have {{friends.length}} friends. They are:
    <input type="search" ng-model="q" placeholder="filter friends..." />
    <select ng-model="s">
        <option value="">all </option>
        <option value="boy">boys</option>
        <option value="girl">girls</option>
    </select>
    <ul>
        <li ng-repeat="friend in friends | filter: q | filter : s"  >
            [{{$index + 1}}] {{friend.name | uppercase }} who is {{friend.age}} years old.
        </li>
    </ul>
</div>

<script>
    var myApp = angular.module('myApp', []);
    var controllers = {};
    controllers.Controller =  function($scope){
        $scope.friends = [
            {name:'John', age:25, gender:'boy'},
            {name:'Jessie', age:30, gender:'girl'},
            {name:'Johanna', age:28, gender:'girl'},
            {name:'Joy', age:15, gender:'girl'},
            {name:'Mary', age:28, gender:'girl'},
            {name:'Peter', age:95, gender:'boy'},
            {name:'Sebastian', age:50, gender:'boy'},
            {name:'Erika', age:27, gender:'girl'},
            {name:'Patrick', age:40, gender:'boy'},
            {name:'Samantha', age:60, gender:'girl'}
        ]
    }
    myApp.controller(controllers);
</script>

<script src="../../showHtml.js"></script>

</body>
</html>